.container {
  max-width: 800px;
  padding: 20px;
  border: 2px solid $error-color;
  border-radius: 4px;
  margin: 20px auto;
  color: $warning-color;
  text-align: center;

  .code {
    margin: 10px;
    color: $text-secondary;
    text-align: left;
    white-space: pre-wrap;
  }
}
